@{
    ViewData["Title"] = "AGB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====== APPIE FAQ PART START ======-->

<section class="appie-hero-area">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h1 class="blog-title" style="text-align:center">AGB</h1>
                <br />
                <p><strong>Allgemeine Geschäftsbedingungen (AGB)</strong></p>
                <br />

                <p><strong>1. Allgemeines, Geltungsbereich</strong></p>
                <br />

                <p>Die Webrazzi GmbH, Sternbuschweg 164, 47057 Duisburg (im Folgenden „Flappit“ genannt) ist Inhaberin sämtlicher urheberrechtlicher und sonstiger Nutzungs- und Verwertungsrechte an der von ihr angebotenen, internetbasierten Plattform zur Entwicklung und Vermarktung mobiler Shopping-Apps sowie von retail.red, einer umfassenden Omnichannel Suite für den stationären Einzelhandel.</p>
                <br />

                <p>Diese Allgemeinen Geschäftsbedingungen (im Folgenden „AGB“ genannt) regeln das Verhältnis zwischen Flappit und Unternehmen, die die von Flappit angebotenen Leistungen, wie in <strong>Anlage 1</strong> des Einzelvertrages („Leistungsbeschreibung“) definiert, in Anspruch nehmen (im Folgenden „Kunden“ genannt). Diese AGB gelten ausschließlich gegenüber Kunden, die Unternehmer im Sinne des § 14 BGB, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen sind.</p>
                <br />

                <p>Angebote und Leistungen von Flappit erfolgen ausschließlich auf Grund dieser AGB, die durch die Regelungen in Einzelverträgen und deren Anlagen ergänzt werden. Abweichende, entgegenstehende oder ergänzende allgemeine Geschäftsbedingungen des Kunden werden nur dann und nur soweit Bestandteil des Vertrages mit Flappit, wenn Flappit ihrer Geltung ausdrücklich zustimmt. Dieses Zustimmungserfordernis gilt auch dann, wenn Flappit Leistungen in Kenntnis der allgemeinen Geschäftsbedingungen des Kunden vorbehaltslos erbringt.</p>
                <br />

                <p><strong>2. Definitionen</strong></p>
                <br />

                <p>Die nachfolgenden Begriffe haben im Rahmen des Einzelvertrages und dieser AGB jeweils die nachfolgende Bedeutung:</p>
                <br />

                <p><strong>Arbeitstag</strong> bezeichnet einen Zeitraum von 8 Stunden;</p>
                <br />

                <p><strong>Einzelvertrag</strong> bezeichnet das Angebot bzw. den Vertrag, der auf diese AGB verweist, einschließlich der zugehörigen Anlagen (insbesondere der Anlagen „Leistungsbeschreibung”, „Individuelle Funktionserweiterungen” sowie „Vertrag zur Auftragsdatenverarbeitung gemäß Art. 28 DSGVO“);</p>
                <br />

                <p><strong>Filiale(n)</strong> bezeichnet eine oder mehrere als “Filiale” konﬁgurierte Standorte im Flappit Adminbereich Die Anzahl der Filialen ist Grundlage zur Berechnung der vertraglich vereinbarten Grundgebühr. Eine Erhöhung der Filialen innerhalb der Vertragslaufzeit führt zu einer Erhöhung der monatlichen Grundgebühr. Eine Reduzierung der angeschlossenen Filialen innerhalb der Vertragsperiode ist nicht möglich;</p>
                <br />

                <p><strong>Geistige Eigentumsrechte</strong> bezeichnet Urheberrechte, Patente, Marken, Rechte an Datenbanken, Erﬁndungen, Betriebs- und Geschäftsgeheimnisse, Know-how und sonstige gewerbliche Schutzrechte;</p>
                <br />

                <p><strong>Konzerngesellschaft</strong> bezeichnet in Bezug auf eine Partei eine Gesellschaft, die im Verhältnis zu dieser Partei ein Konzernunternehmen im Sinne des § 18 AktG ist;</p>
                <br />

                <p><strong>Kunden-Daten</strong> bezeichnet Daten (egal in welcher Form) aus der Besitz- oder Herrschaftssphäre des Kunden, die der Kunde Flappit im Zusammenhang mit dem Einzelvertrag zur Verfügung stellt;</p>
                <br />

                <p><strong>Meilenstein</strong> bezeichnet einen Stichtag oder ein auf die Verpﬂichtungen von Flappit nach dem Einzelvertrag bezogenes Ereignis, der/das im Einzelvertrag ausdrücklich als „Meilenstein“ bestimmt ist;</p>
                <br />

                <p><strong>Partei(en)</strong> bezeichnet die Parteien des Einzelvertrags (resp. eine der beiden Parteien);</p>
                <br />

                <p><strong>Produktivsystem</strong> bezeichnet eine Bereitstellungsumgebung, auf der produktiv mit realen Daten gearbeitet wird;</p>
                <br />

                <p><strong>Testsystem</strong> bezeichnet eine Bereitstellungsumgebung, auf der mit ﬁktiven Testdaten gearbeitet wird;</p>
                <br />

                <p><strong>Vertragsjahr</strong> bezeichnet einen Zeitraum von 12 Monaten ab dem Datum des Inkrafttretens des Einzelvertrags und jeden nachfolgenden zusammenhängenden Zeitraum von 12 Monaten während der Laufzeit des Einzelvertrags;</p>
                <br />

                <p><strong>Vertrauliche Information</strong> bezeichnet jede Information einer Partei, die ihrem Wesen nach erkennbar vertraulich behandelt werden sollte oder die von einer Partei ausdrücklich als vertraulich bezeichnet wird;</p>
                <br />

                <p><strong>3. Leistungsumfang</strong></p>
                <br />

                <p>Flappit bietet Unternehmen eine technische Infrastruktur, um mobile Shopping Apps und oder Omnichannel-Lösungen zu entwickeln und als Software-as-a-Service zu nutzen. Die von Flappit im Rahmen in Bezug auf die Shopping Apps oder retail.red angebotenen Leistungen umfassen zum einen Leistungen, die im Vorfeld des Betriebs der Omnichannel Suite erforderlich sind, zum anderen den Betrieb dieser Plattform als „Software-as-a-Service“ (im Folgenden auch „SaaS-Lösung“ genannt), sowie darauf gerichtete Supportleistungen. Soweit nicht ausdrücklich anders vereinbart, ist die Entwicklung kundenindividueller Lösungen oder erforderlicher Anpassungen an Systemen des Kunden nicht Bestandteil des Vertrages mit Flappit.</p>
                <br />

                <p>Der konkrete Leistungsumfang der von Flappit zu erbringenden Leistungen ergibt sich aus dem Einzelvertrag inklusive seiner Anlagen.</p>
                <br />

                <p>Flappit kann aktualisierte Versionen der angebotenen Services (SaaS) bereitstellen und wird den Kunden über aktualisierte Versionen und entsprechende Nutzungshinweise auf elektronischem Wege informieren und diese entsprechend verfügbar machen. Flappit behält sich vor, bestimmte Funktionalitäten nur gegen zusätzliche Vergütung bereitzustellen.</p>
                <br />

                <p>Flappit erstellt in automatisierten Prozessen in regelmäßigen Abständen Sicherungen der Daten, die in den von Flappit angebotenen Services (SaaS) erzeugt werden. Auf Anfrage stellt Flappit dem Kunden spezifische Daten zum Download und zur Erstellung eigener Sicherungen bereit. Vom vertraglichen Leistungsumfang nicht umfasst ist die Einhaltung von Archivierungspflichten, denen der Kunde unterliegt. Insbesondere handels- und steuerrechtliche Daten, die in den Flappit-Plattformen erzeugt werden, können längerfristigen Aufbewahrungspflichten unterliegen, die der Kunde selbst verantwortlich ist.</p>
                <br />

                <p><strong>4. Vertragsschluss, Laufzeit und Kündigung</strong></p>
                <br />

                <p>Der Vertragsschluss erfolgt, indem der Kunde den individualisierten und von Flappit übersandten Einzelvertrag mittels elektronischer Signatur unterzeichnet und per E-Mail an Flappit zurücksendet.</p>
                <br />

                <p>Der Beginn des Einzelvertrages („Vertragsstart“), seine Dauer sowie das Recht zur ordentlichen Kündigung sind im Einzelvertrag geregelt.</p>
                <br />

                <p>Das Recht zur außerordentlichen Kündigung bleibt unberührt (siehe Abschnitt 16 bzgl. des außerordentlichen Kündigungsrechts sowie bzgl. weiterer Kündigungsrechte für den Kunden).</p>
                <br />

                <p>Kündigungserklärungen bedürfen der Schriftform und können mit einer gültigen elektronischen Unterschrift an info@flappit.de<br><br>5. Pflichten des Kunden</p>
                <br />

                <p><strong>5.1 Grundsatz</strong></p>
                <br />

                <p>Der Kunde ist für die Nutzung der Leistungen von Flappit, die ordnungsgemäße Verarbeitung seiner Daten und die durch die Nutzung der Services von Flappit erzielten Resultate selbst verantwortlich.</p>
                <br />

                <p>Der Kunde wird die ihm obliegenden Mitwirkungspflichten vollständig, fach- und fristgerecht erfüllen. Sofern nicht abweichend anders geregelt, sind sämtliche Mitwirkungspflichten bei Vertragsschluss zu erbringen.</p>
                <br />

                <p><strong>5.2 Eigenverantwortlichkeit</strong></p>
                <br />

                <p>Flappit ist nicht verantwortlich dafür, dass der Vertrieb Ihrer Waren über die Flappit Plattform rechtlich zulässig ist. Dies gilt z. B. für Vertriebsverbote oder Vertriebseinschränkungen mit Rücksicht auf gesetzliche Vorschriften wie z. B. das Jugendschutzgesetz, das Gesetz über den Verkehr mit Arzneimitteln und das Lebensmittel-, Bedarfsgegenstände- und Futtermittelgesetzbuch.</p>
                <br />

                <p>Flappit ist ferner nicht verantwortlich dafür, dass die Art und Weise des Vertriebs zulässig ist und dass z. B. gesetzliche Informationspflichten, Belehrungspflichten etc. eingehalten werden. Die Gewährleistung der rechtlichen Zulässigkeit und der Erfüllung der gesetzlichen Pflichten obliegt allein dem Kunden.</p>
                <br />

                <p>Dem Kunden obliegt es in eigener Verantwortung zu prüfen, ob die von Flappit angebotenen Services seinen tatsächlichen und an ihn gerichteten rechtlichen Anforderungen entsprechen.</p>
                <br />

                <p><strong>5.3 Bereitstellung von Daten zur Integration in retail.red</strong></p>
                <br />

                <p>Der Kunde wird die in der <strong>Anlage</strong> zum Einzelvertrag näher beschriebenen Daten (insb. Kategorien, Produkte und Bestände) in der dort beschriebenen Art und Weise vollständig bereitstellen. Soweit erforderlich, sind die Daten vor der Bereitstellung durch den Kunden zu anonymisieren oder zu pseudonymisieren. Es obliegt dem Kunden, die Bereitstellung überflüssiger oder fehlerhafter Daten zu vermeiden.</p>
                <br />

                <p>Soweit nicht gesondert abweichend bestimmt, kann die Bereitstellung sowohl manuell per CSV-Datei als auch über automatisierte API-Schnittstellen erfolgen. Stellt der Kunde die Daten manuell zur Verfügung, steht ihm nur ein begrenzter Funktionsumfang zur Verfügung. Flappit stellt für etwaige für die Datenübertragung zu programmierende Schnittstellen unter docx.retail.red eine API-Dokumentation bereit.</p>
                <br />

                <p><strong>5.4 Sonstige Pflichten des Kunden</strong></p>
                <br />

                <p>Der Kunde wird ferner</p>
                <br />

                <ol><li>mindestens einen Ansprechpartner mit projektbezogener Kompetenz als Projektverantwortlichen auf Kundenseite benennen und ggf. ersetzen, der zu den üblichen Geschäftszeiten des Kunden erreichbar ist.</li><li>Soweit erforderlich, wird der Kunde weitere Mitarbeiter mit ausreichenden Kenntnissen und Erfahrung bereitstellen, um einen kontinuierlichen, zeitnahen Informationsﬂuss zu gewährleisten.</li><li>Testläufe aktiv unterstützen. Dies gilt insbesondere für Tests in simulierten Live-Bedingungen und umfasst insbesondere die Zurverfügungstellung von Testdaten sowie die Auswertung/Bewertung erzeugter Bestellvorschläge und Prognosen.</li><li>die von Flappit speziﬁzierte Schnittstelle für den Datenaustausch selbstständig implementieren und – soweit erforderlich – aktualisieren, soweit nicht abweichend ausdrücklich abweichend geregelt. Der Kunde ist für die Gewährleistung der erforderlichen Sicherheit und Skalierbarkeit selbständig verantwortlich.</li><li>alle wesentlichen Änderungen bzgl. der Flappit über die Schnittstelle zur Verfügung gestellten Informationen mitteilen, insbesondere signiﬁkante Erweiterungen der Daten oder signiﬁkante Änderungen in der Datenqualität.</li><li>Konfliktanzeigen und Hinweisen bei der Nutzung der Leistungen von Flappit zur Fehlervermeidung – soweit nicht unzumutbar – Folge leisten und bei Zweifeln in der Benutzung, den Support in Anspruch nehmen;</li><li>vor Überlassung der Daten an Flappit prüfen, ob er zur Nutzung der Daten berechtigt ist, und etwaig erforderliche Nutzungsrechte oder Einwilligungen Dritter einholen;</li><li>sicherstellen, dass keine Rechte Dritter durch die Bereitstellung und vertragsgemäße Nutzung von Daten und Inhalten verletzt werden;</li><li>die ihm zugeordneten Zugangsberechtigungen geheim halten, nicht an Unberechtigte weitergeben und vor Zugriffen Dritter schützen. Besteht der Verdacht, dass Zugangsdaten oder Passwörter nicht berechtigten Personen bekannt geworden sind, wird der Kunde umgehend Flappit darüber informieren;</li><li>10.es unterlassen, selbst oder durch Dritte Daten oder Informationen unbefugt abzurufen oder in Datennetze bzw. Programme von Flappit einzugreifen bzw. eingreifen zu lassen;</li><li>die Leistungen von Flappit nicht missbräuchlich nutzen oder nutzen lassen, insbesondere keine Information mit sitten- oder rechtswidrigen Inhalten übermitteln und auf solche Informationen hinweisen, die der Volksverhetzung dienen, zu Straftaten anleiten oder Gewalt verherrlichen oder verharmlosen, sexuell anstößig bzw. pornographisch sind, geeignet sind, Kinder oder Jugendliche sittlich schwer zu gefährden oder in ihrem Wohl zu beeinträchtigen oder das Ansehen von Flappit schädigen können;</li><li>12.nur nach vorheriger schriftlicher Zustimmung von Flappit Rechte und Pflichten aus dem Einzelvertrag auf Dritte übertragen, abtreten oder verpfänden.</li></ol>
                <br />

                <p><strong>5.5 Auswirkungen bei verspäteter oder Nichterfüllung von Mitwirkungspflichten</strong></p>
                <br />

                <p>Erbringt der Kunde die ihm obliegenden Pflichten – insbesondere zur Bereitstellung von Daten – nicht, nicht wie vereinbart oder nicht rechtzeitig, verschieben sich von Flappit zugesagte Termine, Fristen und Meilensteine um einen angemessenen Zeitraum.</p>
                <br />

                <p>In diesem Fall wird Flappit dem Kunden eine angemessene Nachfrist zur Erbringung seiner Mitwirkungspflichten setzen und ihn auf die Folgen der Nichterfüllung hinweisen. Bei fruchtlosem Verstreichen der Nachfrist ist Flappit berechtigt, vertretbare Handlungen selbst durchzuführen und für die hierdurch entstandenen Mehraufwände eine angemessene Vergütung zu fordern.</p>
                <br />

                <p><strong>6. Vergütung und Zahlung/Einstellung der Leistungen bei Zahlungsverzug</strong></p>
                <br />

                <p>Der Kunde ist verpflichtet, die vereinbarte Vergütung fristgerecht zu zahlen. Die Höhe der Vergütung, die Art der Abrechnung (aufwandsbezogenen und/oder monatliche Abrechnung sowie gesonderte Gebühren und Auslagen) sowie deren Fälligkeit ergeben sich aus dem Einzelvertrag. Die im Einzelvertrag aufgeführte Vergütung sowie sonstige Auslagen verstehen sich zzgl. der gesetzlichen Mehrwertsteuer.</p>
                <br />

                <p>Soweit eine aufwandsbezogene Vergütung vereinbart ist, erfolgt die Abrechnung auf Basis der vereinbarten Tagessätze und für den vereinbarten Abrechnungszeitraum. Flappit wird der Rechnung eine Aufstellung über die geleisteten Aufwände beifügen. Flappit behält sich vor, die Erbringung der Leistungen von der Zahlung eines angemessenen Vorschusses abhängig zu machen.</p>
                <br />

                <p>Soweit eine monatliche Vergütung vereinbart ist, behält sich Flappit vor, zusätzliche Aufwände nach den Bestimmungen in Ziffer 5.5 in Rechnung zu stellen. Flappit ist berechtigt, die monatliche Vergütung während der Laufzeit des Vertrages anzupassen, wenn sich herausstellt, dass der Kunde bei Vertragsschluss wesentliche Informationen zurückgehalten oder falsche Angaben gemacht hat und dies zu erheblichen Mehraufwänden bei Flappit führt.</p>
                <br />

                <p>Unbeschadet der Rechte von Flappit zur außerordentlichen Kündigung gemäß § 314 BGB ist Flappit nach Ablauf einer Androhungsfrist von mindestens 14 Tagen (gerechnet ab dem Zugang der Androhung der Leistungseinstellung) berechtigt, fortlaufend zu erbringende Leistungen einzustellen, wenn der Kunde gerechnet vom Zeitpunkt der Erklärung der Androhung mit der Zahlung der Vergütung in Höhe von mindestens zwei Monatsbeiträgen in Verzug ist. Der Kunde bleibt auch für den Zeitraum der Leistungseinstellung zur Weiterzahlung der Vergütung verpﬂichtet.</p>
                <br />

                <p><strong>7. Datenschutz</strong></p>
                <br />

                <p>Soweit Flappit von dem Kunden übermittelte personenbezogene Daten im Sinne des Art. 4 Nr. 1 DSGVO verarbeitet, wird Flappit – mit Ausnahme der Vertragsdaten und der Ansprechpartnerdaten des Kunden – ausschließlich als Auftragsverarbeiter des Kunden tätig (Art. 28 DSGVO). Flappit wird diese übermittelten personenbezogenen Daten Dritter nur zur Vertragserfüllung und nur gemäß der Weisungen des Kunden verarbeiten und nutzen. Flappit und der Kunde werden einen Vertrag zur Auftragsdatenverarbeitung schließen, um Details im Umgang mit personenbezogenen Daten nach Maßgabe von Art. 28 DSGVO schriftlich zu regeln. Dieser Auftragsdatenverarbeitungsvertrag wird dem Einzelvertrag als <strong>Anlage</strong> beigefügt. Die Verarbeitung der Vertragsdaten und der Ansprechpartnerdaten, die im Vertragsverhältnis zwischen Flappit und dem Kunden verarbeitet werden, erfolgt in eigner Verantwortlichkeit von Flappit.</p>
                <br />

                <p><strong>8. Vertraulichkeit</strong></p>
                <br />

                <p><strong>8.1 Umgang mit vertraulichen Informationen</strong></p>
                <br />

                <p>Die Parteien verpﬂichten sich wechselseitig, alle vertraulichen Informationen der jeweils anderen Partei, die ihnen während der Durchführung des Einzelvertrags bekannt werden, streng vertraulich zu behandeln, d.h. nicht an Dritte weiterzugeben und mit der gebotenen Sorgfalt vertraulich zu behandeln (einschließlich angemessener Vorsichtsmaßnahmen zur Verhinderung verbotener Weitergaben). Die in diesem Absatz enthaltene Vertraulichkeitsvereinbarung ist nicht auf solche Informationen anwendbar, die die Parteien in gesetzlich zulässiger Weise von dritter Seite erhalten haben oder die offenkundig sind.</p>
                <br />

                <p>Die Parteien sorgen dafür, dass ihre Mitarbeiter, Vertreter oder sonstige Personen, die Zugang zu den Informationen haben, derselben Vertraulichkeitsverpflichtung unterfallen, wie vorstehend niedergelegt.</p>
                <br />

                <p><strong>8.2 Ausnahme vom Verbot der Weitergabe/Nutzung</strong></p>
                <br />

                <p>Von den vorstehenden Regelungen ausgenommen sind solche Informationen, die nachweislich zum Zeitpunkt der Nutzung oder Bekanntmachung öffentlich bekannt sind;</p>
                <br />

                <ol><li>der Partei bei Abschluss des Einzelvertrages bereits bekannt waren oder danach von dritter Seite, d.h. weder von der anderen Partei noch von einer ihrer Konzerngesellschaften, bekannt werden, ohne dass hierdurch eine Vertraulichkeitsvereinbarung, gesetzliche Vorschriften oder behördliche Anordnungen verletzt werden;</li><li>die aufgrund gesetzlicher Verpflichtungen oder auf Anordnung eines Gerichtes oder einer Behörde offen gelegt werden müssen. Soweit zulässig und möglich wird die zur Offenlegung verpflichtete Partei die andere Partei vorab unterrichten und ihr Gelegenheit geben, gegen die Offenlegung vorzugehen.</li></ol>
                <br />

                <p><strong>9. Abnahme</strong></p>
                <br />

                <p><strong>9.1 Erforderlichkeit von Abnahmen</strong></p>
                <br />

                <p>Abnahmen sind bezüglich bestimmter Bestandteile der Leistungen durchzuführen, sofern und soweit die Bestimmungen des Einzelvertrags dies vorsehen.</p>
                <br />

                <p><strong>9.2 Abnahmekriterien</strong></p>
                <br />

                <p>Abnahmekriterien sind im Einzelvertrag geregelt. Soweit bezüglich einer bestimmten Leistung keine Abnahmekriterien festgelegt sind, gelten die Abnahmekriterien als erfüllt, wenn die im Rahmen der Abnahme durchgeführten Tests keine wesentlichen Einschränkungen der vereinbarten Funktionen des betreffenden Teils der Leistungen ergibt.</p>
                <br />

                <p><strong>9.3 Abnahmeverfahren</strong></p>
                <br />

                <p>Die Abnahmeverfahren, d.h. die im Rahmen eines Abnahmetests anzuwendenden Methoden und Vorgehensweisen sind im Einzelvertrag dargestellt. Soweit bzgl. einer bestimmten Leistung keine Abnahmeverfahren festgelegt sind, hat Flappit die Abnahmeverfahren nach billigem Ermessen festzulegen, die grundsätzlich eine Funktionsprüfung auf einem Testsystem beinhalten.</p>
                <br />

                <p><strong>9.4 Zusammenarbeiten im Rahmen von Abnahmen und Abnahmetests</strong></p>
                <br />

                <p>Flappit wird dem Kunden in Textform (z.B. Fax oder E-Mail) mitteilen, dass der betreffende Bestandteil der Leistungen abnahmebereit ist. Spätestens mit der Mitteilung der Abnahmefähigkeit wird Flappit den Kunden über die von ihm zur Abnahme erforderlichen Mitwirkungshandlungen informieren. Der Kunde wird insbesondere qualifiziertes Personal und erforderliche Daten bereitstellen sowie die Verfügbarkeit der EDV-Systeme gewährleisten.</p>
                <br />

                <p>Unverzüglich, spätestens jedoch binnen sieben Tagen nach Erhalt der Mitteilung ist der Abnahmetest durch den Kunden und Flappit durchzuführen.</p>
                <br />

                <p>Nach erfolgreichem Abschluss des Abnahmetests hat der Kunde Flappit unverzüglich und eine Abnahmeerklärung per E-Mail in Textform zukommen zu lassen. Der Abnahmetest ist erfolgreich abgeschlossen, wenn die Abnahmekriterien für den jeweiligen abzunehmenden Bestandteil der Leistungen erfüllt wurden und die Abnahmeerklärung gilt als abgegeben, wenn der Kunde nicht binnen sieben Tagen nach Abschluss des Abnahmetests in Textform die Gründe speziﬁziert, aufgrund derer nach seiner Auffassung die Abnahmekriterien nicht erfüllt sind.</p>
                <br />

                <p>Wenn eine der Parteien während eines Abnahmetests Umstände erkennt, die einen erfolgreichen Abschluss des Abnahmetests verhindern könnten, hat sie die andere Partei unverzüglich darüber zu informieren.</p>
                <br />

                <p><strong>9.5 Scheitern von Abnahmetests</strong></p>
                <br />

                <p>Beanstandet der Kunde Leistungen fristgemäß, wird Flappit hierzu innerhalb angemessener Frist Stellung nehmen. Weist die geschuldete Leistung wesentliche Mängel auf, hat Flappit ohne zusätzliche Kosten für den Kunden diese innerhalb einer angemessenen Frist zu beseitigen. Flappit wird den Kunden informieren, sobald die betreffenden Bestandteile der Leistungen für einen wiederholten Abnahmetest bereitstehen.</p>
                <br />

                <p>Werden auch nach Fristablauf wesentliche Mängel nicht behoben, ohne dass der Kunde dies zu vertreten hat, ist der Kunde berechtigt,</p>
                <br />

                <ol><li>erneut von Flappit zu verlangen, die zugrunde liegenden Mängel unverzüglich zu beseitigen, so dass die Abnahmekriterien erfüllt werden, um einen weiteren wiederholten Abnahmetest durchzuführen (in diesem Fall gelten die Regelungen dieses Abschnitts 9 entsprechend);</li><li>oder innerhalb eines Zeitraums von sieben Tagen nach Beendigung des fehlgeschlagenen Abnahmetest den betreffenden Bestandteil der abzunehmenden Leistungen abzulehnen;</li><li>oder wenn nach dem billigen Ermessen des Kunden aufgrund des gescheiterten Abnahmetests kein Interesse an der weiteren Erbringung von Leistungen besteht, die weitere Erbringung dieser Leistungen abzulehnen und den Einzelvertrag außerordentlich zu kündigen.</li></ol>
                <br />

                <p>Die Rechte des Kunden nach den vorstehenden Buchstaben b und c stehen dem Kunden erst zu, wenn drei Abnahmetests hintereinander nicht erfolgreich abgeschlossen wurden.</p>
                <br />

                <p><strong>10. Geistiges Eigentum</strong></p>
                <br />

                <p><strong>10.1 Grundsatz</strong></p>
                <br />

                <p>Soweit nicht anderweitig geregelt, räumt keine Partei der jeweils anderen Partei irgendwelche Rechte an ihrem Geistigen Eigentum ein. Jede Partei darf von dem Geistigen Eigentum der jeweils anderen Partei nur Gebrauch machen, soweit dies für die Durchführung des Einzelvertrags erforderlich ist.</p>
                <br />

                <p><strong>10.2 Benutzerhandbücher und vergleichbare Dokumentationen</strong></p>
                <br />

                <p>Flappit räumt dem Kunden ein einfaches (nicht-ausschließliches), nicht-übertragbares, zeitlich und örtlich unbegeschränktes Recht zur Nutzung von Benutzerhandbüchern und vergleichbarer Dokumentation zu eigenen Zwecken ein. Dies gilt sowohl für Benutzerhandbücher und vergleichbare Dokumentation in verkörperter oder elektronischer Form überlassen). Von der Nutzung zu eigenen Zwecken umfasst ist auch die Weitergabe und Vervielfältigung innerhalb der Konzerngesellschaften des Kunden.</p>
                <br />

                <p><strong>10.3 Software</strong></p>
                <br />

                <p>Soweit nicht ausdrücklich abweichend geregelt, räumt Flappit dem Kunden keinerlei Rechte an den zur Nutzung bereitgestellten Plattformen und SaaS-Lösungen ein.</p>
                <br />

                <p>Soweit Flappit den Kunden bei der Implementierung der von Flappit speziﬁzierten Schnittstelle in den Systemen des Kunden durch die Bereitstellung/Programmierung von Softwarecode unterstützt, räumt Flappit dem Kunden ein einfaches (nicht ausschließliches), nicht-übertragbares, örtlich unbeschränktes, zeitlich auf die Dauer des Vertragsverhältnisses beschränktes Recht zur vertragsgemäßen Nutzung der Programmierleistung ein. Eine Übergabe des Quellcodes an den Kunden erfolgt nicht.</p>
                <br />

                <p><strong>11. Freistellungsverpflichtungen</strong></p>
                <br />

                <p>Unbeschadet der Regelungen in Ziffer 13 hat jede Partei die jeweils andere Partei von allen Ansprüchen Dritter freizustellen, die aufgrund von Verstößen der betreffenden Partei gegen ihre vertraglichen Verpflichtungen oder aufgrund von sonstigen Pflichtverletzungen entstehen. Die Grundsätze des § 254 BGB („Mitverschulden“) gelten insoweit entsprechend.</p>
                <br />

                <p><strong>12. Gewährleistung</strong></p>
                <br />

                <p>Flappit gewährleistet die Funktions- und Betriebsbereitschaft der SaaS-Lösung und der damit zusammenhängenden Leistungsangebote nach den Maßgaben des Einzelvertrags. Soweit nachfolgend nichts anderes bestimmt ist, gelten die gesetzlichen Regelungen zur Gewährleistung.</p>
                <br />

                <p>Soweit Service Levels durch Flappit zugesagt sind, gelten die dort vereinbarten Regelungen zur Verfügbarkeit der Leistungen erst nach Abschluss sämtlicher Integrationsleistungen.</p>
                <br />

                <p><strong>13. Haftung, Schadensersatz</strong></p>
                <br />

                <p>Flappit haftet nach dem Einzelvertrag und diesen AGB nur nach Maßgabe der folgenden Bestimmungen:</p>
                <br />

                <ol><li>Flappit haftet unbeschränkt für vorsätzlich oder grob fahrlässig durch Flappit, seine gesetzlichen Vertreter oder leitenden Angestellten verursachte Schäden sowie für vorsätzlich verursachte Schäden sonstiger Erfüllungsgehilfen von Flappit;</li><li>Flappit haftet unbeschränkt für von ihr vorsätzlich oder fahrlässig verursachte Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit.</li><li>Flappit haftet für Schäden aufgrund fehlender zugesicherter Eigenschaften bis zu dem Betrag, der vom Zweck der Zusicherung umfasst war und der für Flappit bei Abgabe der Zusicherung erkennbar war.</li><li>Flappit haftet für Produkthaftungsschäden entsprechend der Regelungen im Produkthaftungsgesetz.</li><li>Flappit haftet für Schäden aus der Verletzung von Kardinalpﬂichten durch Flappit, seine gesetzlichen Vertreter oder Erfüllungsgehilfen von Flappit; Kardinalpﬂichten sind die wesentlichen Pﬂichten, die die Grundlage des Einzelvertrags bilden, die entscheidend für den Abschluss des Einzelvertrags waren und auf deren Erfüllung der Kunde vertrauen darf. Wenn Flappit diese Kardinalpﬂichten leicht fahrlässig verletzt hat, ist die Haftung auf den Betrag begrenzt, der für Flappit zum Zeitpunkt der jeweiligen Leistung vorhersehbar war.</li></ol>
                <br />

                <p>Unbeschadet der Geltung der vorstehenden Regelungen wird die verschuldensunabhängige Haftung von Flappit auf Schadensersatz (gem. § 536a BGB) für bei Vertragsschluss vorhandene Mängel ausgeschlossen.</p>
                <br />

                <p>Der Kunde hat sicherzustellen, dass durch Programmierungen oder sonstige Arbeiten des Kunden oder durch den Kunden beauftragten Dritten (z.B. Agenturen) auf der Flappit-Plattform keine Beeinträchtigungen der Leistungen oder sonstige Schäden verursacht werden. Sollten solche Beeinträchtigungen der Leistungen verursacht werden, haben diese keinen Einﬂuss auf unseren Vergütungsanspruch. Eine Haftung von Flappit ist in dem Zusammenhang ausgeschlossen.</p>
                <br />

                <p>Für den Fall, dass Flappit im Zusammenhang mit der Erbringung der Leistungen Drittprodukte oder sonstige Leistungen für den Kunden von Dritten erwirbt, wird Flappit die Rechte, die Flappit von dem Dritten erhält, weitergeben oder an den Kunden abtreten (einschließlich Gewährleistungs- und Freistellungsrechte), soweit diese Rechte abtretbar sind.</p>
                <br />

                <p><strong>14. Höhere Gewalt</strong></p>
                <br />

                <p><strong>14.1 Grundsatz</strong></p>
                <br />

                <p>Flappit ist von der Erfüllung der Leistung aus dem Einzelvertrag im Falle und für die Dauer höherer Gewalt befreit, soweit die Nichterfüllung der Leistung auf das Eintreten dieses Zustands nach Vertragsschluss zurückzuführen ist. Ein Fall Höherer Gewalt liegt insbesondere vor, bei</p>
                <br />

                <ol><li>von Flappit nicht zu vertretende Feuer/Explosionen oder Überschwemmungen und sonstige Naturkatastrophen;</li><li>Krieg, Unruhen, Streiks, Enteignungen, Pandemien, kardinale Rechtsänderungen sowie weitere von Flappit nicht zu vertretende Umstände;</li><li>nicht beeinflussbare technische Probleme des Internets oder des Stromnetzes.4</li></ol>
                <br />

                <p>Jede Partei hat die andere Partei über den Eintritt eines Falles von höherer Gewalt unverzüglich schriftlich in Kenntnis zu setzen. Die Parteien werden sich gegenseitig über die Auswirkungen und die voraussichtliche Dauer informieren und zumutbare Anstrengungen unternehmen, um die Auswirkungen der Nichterfüllung der Leistung zu reduzieren.</p>
                <br />

                <p><strong>15. Außerordentliche Kündigung&nbsp;</strong></p>
                <br />

                <p>Beide Parteien sind berechtigt, den Einzelvertrag aus wichtigem Grund zu kündigen.</p>
                <br />

                <p>Ein wichtiger Grund liegt insbesondere dann vor, wenn</p>
                <br />

                <ol><li>Flappit oder der Kunde einen schwerwiegenden Verstoß gegen die Bestimmungen des Einzelvertrags oder diese AGB begehen, sodass das Festhalten am Vertrag für die andere Partei nicht mehr zumutbar ist;</li><li>sich der Kunde mit der Zahlung für mindestens zwei aufeinanderfolgende Monate in Zahlungsverzug befindet;</li><li>das Insolvenzverfahrens über das Vermögen eines Kunden eröffnet wird oder ein entsprechender Eröffnungsantrag mangels Masse abgewiesen wird</li></ol>
                <br />

                <p>Die außerordentliche Kündigung wegen einer schwerwiegenden Pflichtverletzung ist nur nach vorheriger schriftlicher Abmahnung, unter Beachtung einer Frist von 28 Werktagen, möglich. Hat der Kunde länger als 28 Werktage Kenntnis von den Umständen, die eine außerordentliche Kündigung rechtfertigen, kann die Kündigung nicht mehr auf diese Umstände gestützt werden.</p>
                <br />

                <p><strong>16. Weitergeltende Rechte</strong></p>
                <br />

                <p>Die Beendigung des Einzelvertrags hat weder Auswirkung auf die vor dem Wirksamwerden der Beendigung entstandenen Rechte und Pﬂichten der Parteien, noch auf solche Rechte und Pﬂichten, die entweder ausdrücklich als weitergeltend vereinbart sind oder die ihrer Natur nach auch nach Beendigung des Einzelvertrags weitergelten sollen.</p>
                <br />

                <p><strong>17. Abwerbeverbot</strong></p>
                <br />

                <p>Während der Laufzeit des Einzelvertrages und einem sich daran anschließenden Zeitraum von 12 Monaten ist der Kunde dazu verpﬂichtet, eine Abwerbung von Mitarbeitern von Flappit zu unterlassen und dafür zu sorgen, dass auch seine Konzerngesellschaften dies unterlassen.</p>
                <br />

                <p>Für jeden Fall der schuldhaften Zuwiderhandlung verpflichtet sich der Kunde, eine von Flappit der Höhe nach festzusetzende und im Streitfall vom zuständigen Gericht zu überprüfende Vertragsstrafe zu zahlen.</p>
                <br />

                <p><strong>18. Individuelle Änderungen und Ergänzungen; Generelle Änderung dieser AGB</strong></p>
                <br />

                <p>Individuelle Änderungen und Ergänzungen zum Einzelvertrag und zu den AGB in dieser Fassung bedürfen zu ihrer Wirksamkeit der Schriftform. Dies gilt auch für eine Änderung bzw. Aufhebung dieses Schriftformerfordernisses.</p>
                <br />

                <p>Flappit ist berechtigt, diese AGB mit Wirkung für die Zukunft zu ändern, soweit dies aus triftigen Gründen, d.h. aufgrund geänderter Gesetze oder höchstrichterlicher Rechtsprechung, technischer Änderungen, neuer organisatorischer Anforderungen des Massenverkehrs, Regelungslücken in den AGB, Veränderung der Marktgegebenheiten oder anderen vergleichbaren Gründen erforderlich ist und den Kunden nicht unangemessen benachteiligt. Flappit wird den Kunden hierüber in Textform unterrichten. Die jeweils aktuellen AGB sind unter www.Flappit.com/agb abrufbar. Sofern der Kunde jeweiligen Änderung nicht innerhalb von sechs (6) Wochen nach Zugang der Unterrichtung über die Änderung in Textform widerspricht, gilt dies als Zustimmung zu der Änderung. Flappit wird den Kunden in den jeweiligen Änderungsmitteilungen auf diese Zustimmungsfiktion sowie das Widerspruchsrecht hinweisen.</p>
                <br />

                <p><strong>19. Rangfolge</strong></p>
                <br />

                <p>Soweit im Einzelvertrag oder in diesen AGB nicht anderweitig geregelt, gelten im Fall von Widersprüchen die Regelungen der nachfolgend genannten Dokumente in der nachfolgenden Rangfolge:</p>
                <br />

                <ol><li>Die Regelungen des Einzelvertrages vor</li><li>den Regelungen der (sonstigen) Anlagen zum Einzelvertrag vor</li><li>den Regelungen dieser AGB.</li></ol>
                <br />

                <p><strong>20. Referenz</strong></p>
                <br />

                <p>Flappit ist berechtigt, die Leistungserbringung für den Kunden unter namentlicher Nennung des Kunden als Referenzprojekt zu benennen.</p>
                <br />

                <p><strong>21. Anwendbares Recht und Gerichtsstand</strong></p>
                <br />

                <p>Der Einzelvertrag und die Regelungen dieser AGB unterliegen dem Recht der Bundesrepublik Deutschland (unter Ausschluss des UN-Kaufrechts).</p>
                <br />

                <p>Erfüllungsort sowie ausschließlicher Gerichtsstand für alle Streitigkeiten aus oder im Zusammenhang mit dem Einzelvertrag und dieser AGB ist am Sitz von Flappit. Flappit ist jedoch auch berechtigt, den Kunden an seinem allgemeinen Gerichtsstand zu verklagen.</p>
                <br />

                <p><strong>22. Verschiedenes</strong></p>
                <br />

                <p>Sollte eine Bestimmung dieser AGB unwirksam sein oder werden, so bleibt die Wirksamkeit der übrigen Bestimmungen unberührt.</p>
                <br />

                <p>Gegen die Ansprüche von Flappit kann der Kunde mit etwaigen eigenen Ansprüchen nur dann aufrechnen, wenn seine Gegenforderung unbestritten oder rechtskräftig festgestellt ist oder sofern es sich um Gegenansprüche aus demselben Rechtsverhältnis handelt; dies gilt auch für die Geltendmachung von Zurückbehaltungsrechten durch den Kunden.</p>
                <br />

                <p>Mündliche Nebenabreden bestehen nicht.</p>
            </div>
        </div>
    </div>
</section>

<!--====== APPIE FAQ PART ENDS ======-->