@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== APPIE PAGE TITLE PART START ======-->

<div class="appie-page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appie-page-title-item">
                    <h3 class="title">Kontakt</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== APPIE PAGE TITLE PART ENDS ======-->
<!-- Contact Start -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form">
                    <h4 style="text-align:center">
                        Kontaktiere Uns
                    </h4>
                    <p style="text-align:center;font-weight:bold">Fragen ? Wir sind hier, um zu helfen. Konaktiere uns umgehend oder fülle das Formular unten aus. Unsere Mitarbeiter rufen dich innerhalb 24 Stunden zurück.</p>
                    <form action="#" method="post" class="row">
                        <div class="col-md-6">
                            <input type="text" name="f-name" placeholder="Name*">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="l-name" placeholder="E-Mail Adresse*">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" placeholder="Website*">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="phone" placeholder="Vorwahl, Rufnummer*">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="condition-check">
                                <input id="terms-conditions" type="checkbox">
                                <label for="terms-conditions">
                                    Ich habe die <a href="#">Datenschutzerklärung</a> zur Kenntnis genommen.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" name="submit" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->