@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dlab-bnr-inr style-1 bg-primary" style="background-image: url(/OnePage/images/banner/bnr2.png), var(--gradient-sec);  background-size: cover, 200%; ">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1>FAQ</h1>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row style-1">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Faq</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Faq -->
    <section class="content-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 m-b30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="dlab-accordion" id="accordionFaq">
                        <div class="card">
                            <div class="card-header" id="faqOne">
                                <h5 class="dlab-title">
                                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Fusce sem ligula, imperdiet sed nisi sit amet ?
                                        <span class="toggle-close"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="faqOne" data-bs-parent="#accordionFaq">
                                <div class="card-body">
                                    <p class="m-b0">Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur porttitor ante ut odio vestibulum, et iaculis arcu scelerisque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqTwo">
                                <h5 class="dlab-title">
                                    <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                                        Maecenas aliquet quam sed tellus cursus ?
                                        <span class="toggle-close"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo" data-bs-parent="#accordionFaq">
                                <div class="card-body">
                                    <p class="m-b0">Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur porttitor ante ut odio vestibulum, et iaculis arcu scelerisque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqThree">
                                <h5 class="dlab-title">
                                    <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                                        Proin blandit sed arcu sed ultricies ?
                                        <span class="toggle-close"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="faqThree" data-bs-parent="#accordionFaq">
                                <div class="card-body">
                                    <p class="m-b0">Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur porttitor ante ut odio vestibulum, et iaculis arcu scelerisque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqFour">
                                <h5 class="dlab-title">
                                    <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
                                        Proin cursus massa ipsum, at lacinia erat amet ?
                                        <span class="toggle-close"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="faqFour" data-bs-parent="#accordionFaq">
                                <div class="card-body">
                                    <p class="m-b0">Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur porttitor ante ut odio vestibulum, et iaculis arcu scelerisque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqFive">
                                <h5 class="dlab-title">
                                    <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseOne">
                                        Quisque sem tortor, convallis in arcu finibus ?
                                        <span class="toggle-close"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="faqFive" data-bs-parent="#accordionFaq">
                                <div class="card-body">
                                    <p class="m-b0">Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur porttitor ante ut odio vestibulum, et iaculis arcu scelerisque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-b30 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <img src="/OnePage/images/about/pic5.png" class="move-4" alt="">
                </div>
            </div>
        </div>
    </section>

</div>