@{
    ViewData["Title"] = "Impressum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====== APPIE FAQ PART START ======-->

<section class="appie-hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appie-section-title text-center">
                    <h3 class="appie-title">
                        Impressum
                    </h3>
                    <br />
                </div>
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Angaben gemäß § 5 TMG
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Webrazzi GmbH
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Sternbuschweg 164
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                47057 Duisburg
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Amtsgericht Duisburg HRB 29992
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                USt-ID 10959240913
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Kontakt
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                Telefon: 0152********
            </div>
        </div>
        <div class="card" style="border:0">
            <div class="card-body">
                E-Mail: info@flappit.de
            </div>
        </div>
    </div>
</section>

<!--====== APPIE FAQ PART ENDS ======-->