@model Register
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dlab-bnr-inr style-1 bg-primary" style="background-image: url(~/OnePage/images/banner/bnr2.png), var(--gradient-sec);  background-size: cover, 200%; ">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1>Register</h1>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row style-1">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Register</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Get A Quote -->
    <div class="content-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="dlab-media">
                        <img src="~/OnePage/images/about/img3.png" class="move-3" alt="">
                    </div>
                </div>
                <div class="col-xl-6 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "d-lab-form dzForm" }))
                    {

                        <div class="dzFormMsg"></div>
                        <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.FirstName, "", new { @class = "form-control", @required = "", @placeholder = "First Name" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.LastName, "", new { @class = "form-control", @required = "", @placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", @required = "", @placeholder = "Email", @type = "email" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Phone, "", new { @class = "form-control", @required = "", @placeholder = "Phone" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button name="submit" type="submit" value="Submit" class="btn btn-lg gradient btn-primary">Register Now</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>